<mat-toolbar>
  <mat-toolbar-row>
    <span><a href="#">Restaurant Bucket</a></span>
    <span class="example-fill-remaining-space"></span>

      <span class="list-space">
        <a  routerLink="/home">Home</a>
      </span>
      <span class="list-space">
        <a routerLink="/about">About</a>
      </span>
      <span class="list-space">
        <a routerLink="/contact">Contact</a>
      </span>
      <span *ngIf="!authService.isLoggedIn" class="list-space">
        <a routerLink="/admin/login">Login</a>
      </span>
      <span *ngIf="authService.isLoggedIn" class="list-space">
          <a routerLink="/admin/list">RestourantList</a>
      </span>
      <span *ngIf="authService.isLoggedIn" class="list-space">
        <a (click)="authService.logout()">Logout</a>
      </span>
  </mat-toolbar-row>
</mat-toolbar>

